body {
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
font-family: 'Josefin Sans', sans-serif;
  background-image: url('/img/background.jpg');
}

div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
} 

h1 {
  font-size: 60px;
}
