body {
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
font-family: 'Josefin Sans', sans-serif;
  background-color: Black;
  color: White;
    border: 2px solid lime;
  border-radius: 8px;
}

div.fixed {
  position: center;
  width: 50%;
  bottom: 10px;
} 

h1 {
  font-size: 60px;
}

p {
font-size:50px;
}

a:link {
  color: green;
}

a:visited {
  color: lime;
}

/* mouse over link */
a:hover {
  color: darkgreen;
}

/* selected link */
a:active {
  color: white;
}
