body {
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
font-family: 'Ubuntu Mono', monospace;
  background-color: Black;
  color: Lime;
    border: 2px solid lime;
  border-radius: 8px;
}

h1 {
  font-size: 90px;
}

ul {
  list-style-type: none;
}



a:link {
  color: green;
}

a:visited {
  color: lime;
}

/* mouse over link */
a:hover {
  color: darkgreen;
}

/* selected link */
a:active {
  color: white;
}


.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px lime, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px lime, 0 0 40px #e60073, 0 0 50px lime, 0 0 60px lime, 0 0 70px lime;
  }
}
